@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MyLibrary</h1>
    <ul>
        <li>
            MyLibrary is a simple web app which allows you to manage a list of books. 
        </li>
        <li>
            A person can only rent 1 book at a time.
        </li>
        <li>
            We only have one copy for each book.
        </li>
        <li>
            As we start, we only have 10 books and 5 persons.
        </li>
    </ul>
</div>
